body {
  background: #9400ff;
  font-family: "Signika", sans-serif;
}
.form {
  margin: 50px auto;
  width: 400px;
  padding: 30px 25px;
  background: #e8f0f8;
  border-radius: 5%;
}
h1.login-title {
  color: #27005d;
  margin: 0px auto 25px;
  font-size: 35px;
  font-weight: 3px;
  text-align: center;
}

p {
  color: #27005d;
}
label {
  color: #27005d;
  font-size: -10px;
  font-weight: 3px;
}

.login-input {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 25px;
  height: 25px;
  width: calc(100% - 23px);
}
.login-input:focus {
  border-color: #6e8095;
  outline: none;
}
.login-button {
  font-family: "Signika", sans-serif;
  color: #fff;
  background: #27005d;
  border: 0;
  outline: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.link {
  color: #27005d;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
}
.link a {
  color: #974ec3;
}
h3 {
  font-weight: normal;
  text-align: center;
}
.pic {
  margin: 10%;
  width: 50%;
}
img {
  width: 80%;
  height: 150%;
  padding-left: 40%;
  margin-top: -10%;
}
button {
  font-family: "Signika", sans-serif;
  background: #27005d;
  width: 50%;
  height: 25px;
  font-size: 16px;
  text-align: center;
  margin-top: 5%;
  margin-left: 55%;
  cursor: pointer;
}
